@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Play:wght@400;700&display=swap');

:root {
    --text-color: #212121;
    --background-color: #E4E4E4;
    --font-size: 48px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
    font-size: var(--font-size);
    color: var(--text-color);
    background: var(--background-color);
    font-weight: 800;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 33px;
    width: 100%;
    max-width: 580px;
    margin: 20px auto;
}

.game__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 20px;
}

.field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7%;
    width: 100%;
    max-height: 580px;
    aspect-ratio: 1;
    padding: 7%;
    background: #ffffff;
}

.field__cell {
    aspect-ratio: 1;
    background-color: var(--background-color);
    border-radius: 16px;
    box-shadow: 10px 10px 0px var(--text-color);
    transition: all 0.2s ease-in-out;
    position: relative;
}

.field__cell:hover {
    cursor: pointer;
    box-shadow: 6px 6px 0px var(--text-color);
}

.field__cell::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75%;
    opacity: 0;
}

.field__cell:not([data-fill]):hover::before {
    background-image: var(--next-image-url);
    opacity: 0.2;
}

.field__cell[data-fill="X"]::before {
    background: url(./assets/X.png) no-repeat center center;
    background-size: 75%;
    opacity: 1;
}

.field__cell[data-fill="O"]::before {
    background: url(./assets/O.png) no-repeat center center;
    background-size: 75%;
    opacity: 1;
}

.button {
    letter-spacing: 2%;
    padding: 5px 10px;
}

.restart {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: #FFFFFF;
    background-color: var(--text-color);
    cursor: pointer;
}

.restart::after {
    content: "";
    width: 70px;
    height: 70px;
    background: url(./assets/restart.png) no-repeat center center;
}

.game__item--hidden {
    display: none;
}